:root {
  --delay: 200ms;
  --delay-slide: 1000ms;
  --color-text: white;
  --color-bg: darkgray;
  --slides-bg: slategrey;
  --page-color: deepskyblue;
  --page-color-active: white;
}

body {
  font: 1rem/1.2 Tahoma, Arial, sans-serif;
  font-weight: 400;
  color: var(--color-text);
  background: var(--color-bg);
}

.container {
  max-width: 38rem;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  margin-bottom: 1rem;
}
.header h1 {
  margin: 0;
  font: 2rem/1 cursive, serif;
  text-align: center;
}

.main {
  text-align: center;
}

.footer {
  margin-top: 1rem;
  font-family: cursive, serif;
  text-align: center;
}
.footer a {
  color: lightblue;
}
.footer a:hover {
  color: white;
}

@media (max-width: 599px) {
  .container {
    padding: 2rem 1.5rem;
  }
}
